    <div class="side-header">
      <div class="user-name">
        <a href="#">先生、おこしやす。</a>
      </div>
      <div class="chat-create">
      <a href="#">チャット作成</a>
      </div>
    </div>
    <div class="side-under">
      <ul class="chat-room">
        <li><a href="#">お茶の間A</a></li>
        <li><a href="#">お茶の間B</a></li>
      <ul>
      </div>
    </div>