.wrapper {
  height: 100vh;
  display: flex;
}

.side-main {
  background-color: #253141;
  width: 300px;
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-create a {
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.chat-create {
  font-size: 10px;
}

.side-under {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat-room a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
}

.max-chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.chat-main {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding-top: 46px 40px 0;
}

.chat-form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}